@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import "tailwindcss";

@theme {
  --font-script: Great Vibes, cursive;
}

body {
  overflow-x: hidden;
}
::-webkit-scrollbar-thumb:hover {
  background: #57534e; /* Tom ligeiramente mais escuro ao passar o mouse */
}
